.header {
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    height: 75px;
    background-color: darkgray;
}