<form [formGroup]="filtre" class="form">
  <mat-form-field>
    <mat-label>Nom de jeu</mat-label>
    <input type="text" formControlName="title" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type de jeu</mat-label>

    <mat-select formControlName="genres" multiple="true">
      <mat-option value="">Sans type</mat-option>
      <mat-option *ngFor="let type of gameType" [value]="type.id">{{ type.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Editeur</mat-label>

    <mat-select formControlName="publisher">
      <mat-option value="">Sans éditeur</mat-option>
      <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">{{ publisher.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="btn btn-primary" (click)="reset()">RAZ</button>
</form>