.grid {
    div{
        padding: 0.2em;
    }
}

.col-g {
    text-align: center !important;
}

.grid2 {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    display: flex;
}

.description {
    min-height: 100px;
}

.bottom {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.25em;
    position: absolute;
}

.card { 
    border-style: dotted;
    text-align: center;
    position: relative;
}

.left {
    width: auto;
    text-align: left;
}

.right {
    width: auto;
    text-align: right;
}

.row {
    min-height: 110px;
}

figure {
    height: auto;
    max-height: 100px;
    overflow: hidden;;
}

.responsive {
    width: 100%;
    height: auto;
}

.card:hover {
    border: 1px solid black;
}

header {
    display: flex;
    align-items: center;

    .spacer {
      flex: 1;
    }

    .huit {
        width: 80%;
    }

    .deux {
        width: 20%;
    }
}