<div class="container">
  <header class="justify-content-md-center">
    <!-- <div class="col-md-2">
        {{ game.editor }}
    </div> -->
    <div class="huit">
        <h4>{{ game.name }}</h4>
        <p>{{ game.type }}</p>
    </div>
    <div class="deux">
        {{ game.rating }}/10
    </div>
  </header>
  <div>
    <figure>
      <img src="{{game.coverImage}}" class="responsive">
    </figure>
  </div>
  <div class="description">
    Made by: {{ game.developer.name }}
    <br>
    Pubished by: {{ game.publisher.name }}
    <br>
    <br>
    {{ limitDescription(game.description) }}
  </div>
</div>
