.grid {
    div{
        padding: 0.2em;
    }
}

.col-g {
    text-align: center !important;
}

.grid2 {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    display: flex;
}

.description {
    min-height: 100px;
    height: auto;
}

.bottom {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.25em;
    position: absolute;
}

.card { 
    width: 23%;
    height: 450px;
    border-style: dotted;
    text-align: center;
    position: relative;
}

.flex {
    position: relative;
    margin: 5%;
    flex-wrap: wrap;
    display: flex;
}

.left {
    width: auto;
    text-align: left;
}

.right {
    width: auto;
    text-align: right;
}

.row {
    min-height: 75px;
}

figure {
    height: auto;
    max-height: 100px;
    overflow: hidden;;
}

.responsive {
    width: 100%;
    height: auto;
}

.card:hover {
    border: 1px solid black;
}