<div>Nombre de vues : {{counter}}</div>

<div class="container">
  <div class="row">
    <app-game-list-filter [publishers]="publishers$" [gameType]="genres$" (filter)="onFilter($event)"></app-game-list-filter>
    <button class="btn" (click)='plus()'>+10 px</button> 
    <button class="btn" (click)='minus()'>-10 px</button> 
    <button class="btn" (click)='reset()'>Reset</button> 
  </div>
</div>

<div class="flex" *ngIf="gamesFiltered as filteredGames, else loading">
  <div class="card" *ngFor="let game of filteredGames" [ngStyle]="resize()">
    <app-game-card [game]="game"></app-game-card>
    <td (click)="onDelete(game, $event)">&#10060;</td>
  </div>
</div>

<ng-template #loading>
  <p>Chargement des données en cours.</p>
</ng-template>

